<div class="chat-header">
  <div class="left-header">
    <div class="main-chat-name">7room</div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-header">
      <div class="message-name">Tom</div>
      <div class="message-time">2020/10/13(Wed) 12:13:07</div>
    </div>
    <div class="message-content">おはよう</div>
  </div>
  <div class="message">
    <div class="message-header">
      <div class="message-name">Sam</div>
      <div class="message-time">2020/10/13(Wed) 12:13:07</div>
    </div>
    <div class="message-content">こんばんは</div>
  </div>
</div>

<div class="chat-form">
  <div class="form">
    <input placeholder="type a message" class="content">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="send">
</div>