<div class="side-header">
    <a href="#" >
      <div class="name">JIMIN</div>
    </a>
    <a href="#" >
      <div class="chat-create">チャットを作成する</div>
    </a>
</div>

<div class="rooms">
  <div class="room">
    <a href="#">
      <div class="room-name">Bangtanroom1</div>
    </a>
  </div>
  <div class="room">
    <a href="#">
      <div class="room-name">Bangtanroom2</div>
    </a>
  </div>
</div>